---
---

@import "{{ site.theme }}";

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

a {
    color: darkred;
}

a:hover, a:focus {
    color: darkred;
    font-weight: bold;
}

.icon {
    width: 24px;
    height: 24px;
    padding-left: 4px;
    padding-right: 4px;
}

.site-title {
    text-decoration: none;
    color: inherit;
}

.page-header {
    color:darkorange;
}