<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}" class="site-title">{{ site.title }}</a></h1>

        
        <img src="https://images.genius.com/8a23b87972751c2fdadaf4837b6a2930.355x355x1.jpg" alt="Logo" />

        <p>{{ site.description | default: site.github.project_tagline }}</p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <a href="https://github.com/aaanu" rel=me target="_blank"><img class="icon" src="http://aaanu.github.io/assets/img/github.svg" alt="github"></a>
        <a href="https://www.linkedin.com/in/anuradhagulati" rel=me target="_blank"><img class="icon" src="http://aaanu.github.io/assets/img/linkedin.svg" alt="linkedin"></a>
        <a href="https://www.last.fm/user/aaaaanu" rel=me target="_blank"><img class="icon" src="http://aaanu.github.io/assets/img/lastfm.svg" alt="lastfm"></a>
        <a href="https://www.instagram.com/kungfuanu/" rel=me target="_blank"><img class="icon" src="http://aaanu.github.io/assets/img/instagram.svg" alt="instagram"></a>
        <a href="https://twitter.com/aaaaaanu" rel=me target="_blank"><img class="icon" src="http://aaanu.github.io/assets/img/twitter.svg" alt="twitter"></a>
        <a href="https://www.tiktok.com/@barter_6" rel=me target="_blank"><img class="icon" src="http://aaanu.github.io/assets/img/tiktok.svg" alt="tiktok"></a>
        <a href="https://letterboxd.com/anuuu/" rel=me target="_blank"><img class="icon" src="http://aaanu.github.io/assets/img/letterboxd.svg" alt="letterboxd"></a>
        <a href="https://soundcloud.com/anu-gulati" rel=me target="_blank"><img class="icon" src="http://aaanu.github.io/assets/img/soundcloud.svg" alt="soundcloud"></a>
        <a href="https://bandcamp.com/anuuu" rel=me target="_blank"><img class="icon" src="http://aaanu.github.io/assets/img/bandcamp.svg" alt="bandcamp"></a>        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>